@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@700&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Open Sans";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Open Sans";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
	height: 70px;
	padding: 0px 62px;
	background-color: #00897b;
	line-height: 44px;
	text-transform: uppercase;
	position: relative;
	font-family: Roboto;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
}
.btn:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn:hover {
	color: #5B5757;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn:hover:after {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border: 1px solid #fff;
	height: 84px;
	border-radius: 10px;
	width: 100%;
	display: block;
	padding: 0px 20px;
	background-color: #ffffff;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 1px;
}
textarea.input {
	resize: none;
	height: 323px;
	padding: 30px 20px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.slick-slider .slick-dots {
	padding-top: 125px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slick-slider .slick-dots li {
	margin: 0px 5px;
}
.slick-slider .slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00897b;
}
.slick-slider .slick-dots li.slick-active button {
	background-color: #3949ab;
}

.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
	display: none;
	opacity: 0;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
	opacity: 1;
}
#baguetteBox-overlay .full-image {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
#baguetteBox-overlay .full-image figure {
	display: inline;
	margin: 0;
	height: 100%;
}
#baguetteBox-overlay .full-image img {
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 1.8;
	white-space: normal;
	color: #ccc;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}

#baguetteBox-slider {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	-webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
	transition: left 0.4s ease, -webkit-transform 0.4s ease;
	-o-transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
	-webkit-animation: bounceFromRight 0.4s ease-out;
	        animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
	-webkit-animation: bounceFromLeft 0.4s ease-out;
	        animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}

@keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}
@-webkit-keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
@keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
	top: 50%;
	top: calc(50% - 30px);
	width: 44px;
	height: 60px;
}

.baguetteBox-button {
	position: absolute;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 15%;
	background-color: #323232;
	background-color: rgba(50, 50, 50, 0.5);
	color: #ddd;
	font: 1.6em sans-serif;
	-webkit-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
	background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
	right: 2%;
}
.baguetteBox-button#previous-button {
	left: 2%;
}
.baguetteBox-button#close-button {
	top: 20px;
	right: 2%;
	right: calc(2% + 6px);
	width: 30px;
	height: 30px;
}
.baguetteBox-button svg {
	position: absolute;
	left: 0;
	top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2s infinite ease-in-out;
	        animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s;
}

@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0;
	background-color: #fff;
}
@media (max-width: 767.98px) {
	.header {
		top: 0;
	}
}

.header__row {
	font-size: 14px;
	color: #212121;
	font-size: 20px;
	line-height: 22px;
	font-family: "Open Sans - Semibold";
	font-weight: 400;
	letter-spacing: 1px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 123px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767.98px) {
	.header__row {
		color: #fff;
	}
}
@media (max-width: 767.98px) {
	.header__row {
		height: 70px;
	}
}

@media (max-width: 767.98px) {
	.menu__body {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
		background-color: #222222;
	}
}
.menu__body.active {
	top: 0;
}

.menu__icon {
	top: 0;
}

.menu__body {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@media (max-width: 767.98px) {
	.menu__body {
		display: block;
		padding-top: 20px;
	}
}

.header__logo {
	position: relative;
	z-index: 3;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
@media (max-width: 1190px) {
	.header__logo {
		margin-right: 0;
	}
}
@media (max-width: 767.98px) {
	.header__logo {
		display: none;
	}
}

.menu__list {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@media (max-width: 767.98px) {
	.menu__list {
		display: block;
		text-align: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.menu__list li {
	margin: 0px 0px 0px 50px;
}
@media (max-width: 991.98px) {
	.menu__list li {
		margin: 0px 0px 0px 25px;
	}
}
@media (max-width: 767.98px) {
	.menu__list li {
		margin: 0px 0px 25px 0px;
	}
}

@media (min-width: 991.98px) {
	.menu__list a {
		position: relative;
	}

	.menu__list a:hover {
		color: #5B5757;
	}

	.menu__list a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: -9px;
		left: 0;
		background-color: #00897b;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		    transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	.menu__list a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		    transform: scaleX(1);
	}
}
.menu__list li:last-child {
	margin: 0px 0px 0px 50px;
}
@media (max-width: 991.98px) {
	.menu__list li:last-child {
		margin: 0px 0px 0px 20px;
	}
}
@media (max-width: 767.98px) {
	.menu__list li:last-child {
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 767.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 25px;
		right: 5px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}
.footer {
	text-align: center;
	height: 60px;
	background-color: #fff;
}

.footer__text {
	margin: 20px 0;
	color: #212121;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1px;
}

.page {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.anim-show {
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.anim-show_l {
	-webkit-transform: translate(120%, 0px);
	    -ms-transform: translate(120%, 0px);
	        transform: translate(120%, 0px);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.anim-show_r {
	-webkit-transform: translate(-120%, 0px);
	    -ms-transform: translate(-120%, 0px);
	        transform: translate(-120%, 0px);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.mainblock {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.mainblock__content {
	position: relative;
	z-index: 1;
}
.mainblock__content .contanier {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.mainblock__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mainblock__text {
	color: #ffffff;
	position: relative;
	padding: 302px 10px 10px 10px;
}
@media (max-width: 767.98px) {
	.mainblock__text {
		padding: 250px 10px 10px 10px;
	}
}

.mainblock__title {
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 30px;
	letter-spacing: 3px;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 615px) {
	.mainblock__title {
		font-size: 40px;
	}
}

.mainblock__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
}

.mainblock__subtitle {
	font-size: 22px;
	letter-spacing: 1.1px;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	margin-bottom: 110px;
}
@media (max-width: 615px) {
	.mainblock__subtitle {
		font-size: 18px;
		margin-bottom: 70px;
	}
}

.mainblock__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

@media (min-width: 991.98px) {
	.mainblock__footer {
		-webkit-transform: translate(0px, 120%);
		    -ms-transform: translate(0px, 120%);
		        transform: translate(0px, 120%);
		opacity: 0;
	}

	.mainblock__footer._active {
		-webkit-transform: translate(0px, 0px);
		    -ms-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
		opacity: 1;
		-webkit-transition: all 0.5s ease 0.6s;
		-o-transition: all 0.5s ease 0.6s;
		transition: all 0.5s ease 0.6s;
	}
}
.mainblock__btn {
	margin: 12.5px;
}

.btn_w {
	background-color: transparent;
	border: 3px solid #f8f8f8;
	padding: 0px 49px;
}
.btn_w:hover {
	color: #5B5757;
}

.mainblock__button {
	display: inline-block;
	margin-bottom: 140px;
}
@media (max-width: 997px) {
	.mainblock__button {
		margin-bottom: 80px;
	}
}
@media (max-width: 433px) {
	.mainblock__button {
		margin-bottom: 50px;
	}
}

.mainblock__arrow {
	margin-bottom: 50px;
	position: relative;
	-webkit-animation: arrow 2s infinite ease;
	        animation: arrow 2s infinite ease;
}

@-webkit-keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 11px;
	}
	100% {
		top: 0;
	}
}

@keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 11px;
	}
	100% {
		top: 0;
	}
}
.about {
	color: #212121;
	text-align: center;
}

.about__title {
	font-size: 30px;
	font-weight: 700;
	padding-top: 125px;
	margin-bottom: 36px;
	letter-spacing: 1.5px;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.about__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.title {
	font-size: 30px;
	font-weight: 700;
	padding-top: 125px;
	margin-bottom: 36px;
	letter-spacing: 1.5px;
}

.about__subtitle {
	font-size: 15px;
	line-height: 22px;
	max-width: 621px;
	margin: 0 auto 125px auto;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	letter-spacing: 0.75px;
}
@media (max-width: 645px) {
	.about__subtitle {
		margin: 0 10px 125px 10px;
	}
}
@media (max-width: 767.98px) {
	.about__subtitle {
		margin: 0 auto 60px auto;
	}
}

.about__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.3s;
	-o-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
}

.subtitle {
	font-size: 15px;
	line-height: 22px;
	max-width: 621px;
	margin: 0 auto 125px auto;
}

.about__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -73px;
}
@media (max-width: 767.98px) {
	.about__row {
		display: block;
	}
}

.about__column {
	padding: 0px 73px 120px 73px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate(120%, 0px);
	    -ms-transform: translate(120%, 0px);
	        transform: translate(120%, 0px);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	opacity: 0;
}
@media (max-width: 767.98px) {
	.about__column {
		display: block;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		padding: 0px 73px 60px 73px;
	}
}

.about__column._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.about__column_2._active {
	-webkit-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}

.about__column_3._active {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.about__item {
	text-align: center;
	margin: 0 10px;
}

.column__icon {
	margin-bottom: 40px;
}

.column__title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 25px;
	letter-spacing: 1px;
}

.column__text {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.services {
	background-color: #e4fdf9;
	text-align: center;
	color: #212121;
}

.services__title {
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 690px) {
	.services__title {
		padding-top: 100px;
	}
}

.services__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.services__subtitle {
	margin: 0 auto 110px auto;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 690px) {
	.services__subtitle {
		margin: 0 auto 70px auto;
	}
}

.services__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.services__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -4px;
	padding-bottom: 125px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 690px) {
	.services__row {
		padding-bottom: 35px;
	}
}

.services__row._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.services__column {
	padding: 0px 4px 32px 4px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 1190px) {
	.services__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 690px) {
	.services__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.services__item {
	background-color: #ffffff;
	font-size: 14px;
	width: 370px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 993px) {
	.services__item {
		width: 330px;
	}
}
@media (max-width: 335px) {
	.services__item {
		width: 300px;
	}
}
@media (min-width: 1182px) {
	.services__item:hover {
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		background-color: #00897b;
		color: #fff;
	}
	.services__item:hover .services__btn {
		color: #fff;
		border: 2px solid #fff;
	}
	.services__item:hover .services__icon {
		background: url("../img/services/01_w.png");
	}
}

.services__icon {
	background: url("../img/services/01.png");
	display: block;
	width: 56px;
	height: 62px;
	margin: 58px auto 38px auto;
}

.services__info {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
}

.services__text {
	margin: 0 50px 44px 50px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.75px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.services__button {
	margin-bottom: 50px;
}

.services__btn {
	padding: 0px 6px;
	height: 55px;
	color: #212121;
	border: 2px solid #212121;
	background: transparent;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.works {
	padding: 128px 0px 136px 0px;
}

.work._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.header-block {
	margin-bottom: 110px;
	text-align: center;
}

.header-block__title {
	padding: 0;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.header-block__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.header-block__subtitle {
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.header-block__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.works__filter {
	margin-bottom: 120px;
}
@media (max-width: 710px) {
	.works__filter {
		margin-bottom: 80px;
	}
}
@media (max-width: 710px) {
	.works__filter {
		margin-bottom: 60px;
	}
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.filter__item {
	color: #212121;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 10px 8px;
	display: inline-block;
	padding: 0px 0px;
	height: 55px;
	padding: 15px 22px;
	background-color: transparent;
	border: 2px solid #00897b;
}
.filter__item:first-child {
	padding: 15px 30px;
}
.filter__item:last-child {
	padding: 15px 35px;
}
.filter__item:nth-child(3) {
	padding: 15px 14px;
}

.active {
	background-color: #00897b;
	color: #fff;
}

.works__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.works__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	padding: 0px 15px;
	margin-bottom: 30px;
}
@media (max-width: 705px) {
	.works__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
}
@media (max-width: 580px) {
	.works__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}
}

.works__item img {
	max-width: 100%;
}

.works__footer {
	padding-top: 130px;
	text-align: center;
}
@media (max-width: 1182px) {
	.works__footer {
		padding-top: 100px;
	}
}
@media (max-width: 991.98px) {
	.works__footer {
		padding-top: 80px;
	}
}
@media (max-width: 660px) {
	.works__footer {
		padding-top: 60px;
	}
}

.works__btn {
	height: 70px;
	padding: 0 62px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.price {
	padding: 127px 0 145px 0;
	background-color: rgba(240, 240, 240, 0.3);
	text-align: center;
}
@media (max-width: 1170px) {
	.price {
		padding: 127px 0 90px 0;
	}
}
@media (max-width: 990px) {
	.price {
		padding: 127px 0 50px 0;
	}
}

.price__title {
	padding: 0;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.price__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.price__subtitle {
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 990px) {
	.price__subtitle {
		margin: 0 auto 90px auto;
	}
}

.price__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.price__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -20px;
	padding-bottom: 125px;
	-webkit-transform: translate(120%, 0px);
	    -ms-transform: translate(120%, 0px);
	        transform: translate(120%, 0px);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 1200px) {
	.price__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (max-width: 767px) {
	.price__row {
		padding-bottom: 60px;
	}
}

.price__row._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.price__column {
	padding: 0px 20px 0px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
@media (max-width: 1200px) {
	.price__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.column-price__item {
	background-color: #fff;
	min-width: 380px;
}
@media (max-width: 420px) {
	.column-price__item {
		min-width: 290px;
	}
}
@media (max-width: 1200px) {
	.column-price__item {
		margin-bottom: 40px;
	}
}

.column-price__header {
	background-color: #3949ab;
	height: 210px;
	padding: 50px 0 60px 0;
}

.column-price__title {
	color: #ffffff;
	font-size: 25px;
	margin: 0px 0 40px 0;
	letter-spacing: 1.25px;
}

.column-price__number {
	color: #fff;
	font-size: 50px;
}
.column-price__number sub {
	font-size: 17px;
	letter-spacing: 0.85px;
}
.column-price__number sup {
	font-size: 25px;
	letter-spacing: 1.25px;
}

.column-price__content li {
	margin-top: 50px;
}

.column-price__content {
	color: #212121;
	font-size: 17px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.85px;
}

.line:after {
	content: "";
	display: block;
	margin: 15px auto 0 auto;
	width: 178px;
	height: 1px;
	background-color: #bfbfbf;
}

.column-price_s {
	-webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
	        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
	padding: 0px 0px 0px 0px;
}
@media (max-width: 1200px) {
	.column-price_s {
		-webkit-box-shadow: none;
		        box-shadow: none;
		padding: 0px 20px 0px 20px;
	}
}

.column-price__list {
	margin-bottom: 50px;
}

.price__btn {
	margin-bottom: 65px;
	border: 2px solid #000000;
	color: #212121;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 32px;
}

@media (min-width: 1182px) {
	.price__btn:hover {
		border: 0px;
		background-color: #00897b;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}
.price__btn_a {
	padding: 0 34px;
	margin-bottom: 65px;
}
@media (max-width: 1200px) {
	.price__btn_a {
		border: 2px solid #000000;
		color: #000;
		background-color: transparent;
	}
}

.team {
	padding: 122px 0px 124px 0px;
	text-align: center;
}

.team__title {
	padding-top: 0;
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.team__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.team__subtitle {
	-webkit-transform: translate(0px, 120%);
	    -ms-transform: translate(0px, 120%);
	        transform: translate(0px, 120%);
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 420px) {
	.team__subtitle {
		margin: 0 auto 100px auto;
	}
}

.team__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.slider__item {
	text-align: center;
	margin: 12px;
	position: relative;
}

.slider__body._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.slider__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -15px 0px -15px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.slider__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	padding: 0px 15px;
}

.columns__top {
	margin-bottom: 40px;
}

.columns__image {
	padding: 0px 0px 87% 0px;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;
}

.columns__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.columns__body {
	text-align: center;
	color: #212121;
}

.columns__name {
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.columns__profession {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin-bottom: 40px;
}

.columns__media {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.list__media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.list__media li {
	margin: 0px 15px;
	font-size: 30px;
	letter-spacing: 1.5px;
	line-height: 22px;
}
.list__media a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	line-height: 50px;
	background-color: #f0f1f1;
	color: #00897b;
	border-radius: 10px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

@media (min-width: 1182px) {
	.list__media a:hover {
		background-color: blue;
		color: #fff;
	}
}
.blog {
	padding: 125px 0 125px 0;
	background-color: #e4fdf9;
}

.blog__head {
	text-align: center;
}

.blog__title {
	padding-top: 0;
}

.blog__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.blog__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.content-blog__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -15px 0px -15px;
}
@media (max-width: 995px) {
	.content-blog__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.content-blog__row._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}

.content-blog__column {
	padding: 0px 15px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}

.content-blog__item {
	height: 100%;
	display: block;
	position: relative;
}
@media (max-width: 995px) {
	.content-blog__item {
		height: auto;
		padding-bottom: 50%;
	}
}
.content-blog__item:hover {
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.content-blog_rev {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
.content-blog_rev .content-blog__column_img {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

@media (max-width: 995px) {
	.content-blog_rev {
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
	}
	.content-blog_rev .content-blog__column_img {
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
	}
}
.content-blog__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.content-blog__block {
	color: #212121;
	margin-top: 60px;
}
@media (max-width: 995px) {
	.content-blog__block {
		text-align: center;
	}
}

.block__title {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1.25px;
	margin-bottom: 30px;
}

@media (min-width: 1182px) {
	.block__title:hover {
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		color: #00897b;
	}
}
.block__subinfo {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.85px;
	margin-bottom: 30px;
}

.date {
	background: url("../img/blog/i_1.png") left no-repeat;
	padding-left: 30px;
	margin-right: 30px;
}
@media (max-width: 330px) {
	.date {
		margin-right: 10px;
	}
}

.category {
	background: url("../img/blog/i_2.png") left no-repeat;
	padding-left: 30px;
}

.block__text {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.75px;
	max-width: 448px;
	margin-bottom: 185px;
}
@media (max-width: 995px) {
	.block__text {
		margin: 0px auto 105px auto;
	}
}

.blog__footer {
	padding-top: 125px;
	text-align: center;
}
@media (max-width: 995px) {
	.blog__footer {
		padding-top: 35px;
	}
}

.contacts {
	padding: 125px 0 110px 0;
	text-align: center;
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.9)), to(rgba(33, 33, 33, 0.9))), url("../img/contacts/bg.jpg");
	background: -o-linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9)), url("../img/contacts/bg.jpg");
	background: linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.9)), url("../img/contacts/bg.jpg");
	background-size: cover;
}

.contacts__title {
	padding: 0;
}

.contacts__title._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.contacts__subtitle._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.fedback__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -45px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 995px) {
	.fedback__row {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.fedback__row._active {
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
	opacity: 1;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.fedback__column {
	padding: 0px 45px 80px 45px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 995px) {
	.fedback__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
	}
}

@media (max-width: 995px) {
	.text__addres {
		white-space: nowrap;
	}
}
@media (max-width: 400px) {
	.text__addres {
		white-space: normal;
	}
}

.fedback__circle {
	background-color: #3949ab;
	border-radius: 50%;
	color: #fff;
	height: 105px;
	position: relative;
	width: 105px;
	margin: auto;
}

.fedback__icon {
	fill: currentColor;
	height: 50%;
	left: 50%;
	position: absolute;
	stroke: currentColor;
	stroke-width: 0;
	top: 46%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 50%;
}

.icon_2 {
	-webkit-transform: translate(-54%, -50%);
	    -ms-transform: translate(-54%, -50%);
	        transform: translate(-54%, -50%);
}

.icon_3 {
	-webkit-transform: translate(-56%, -40%);
	    -ms-transform: translate(-56%, -40%);
	        transform: translate(-56%, -40%);
}

.fedback__text {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 1px;
	margin: 40px 0px 60px 0px;
}

.feedback__body {
	display: inline-block;
	width: 100%;
}

.form-contacts__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px 40px -15px;
}
@media (max-width: 450px) {
	.form-contacts__row {
		display: block;
	}
}

.form-contacts__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 0px 15px;
}
@media (max-width: 450px) {
	.form-contacts__column {
		padding: 10px 15px;
	}
}

.form-contacts__input {
	margin-bottom: 40px;
}

@media (min-width: 1182px) {
	.tel:hover {
		text-decoration: underline;
	}

	.mail:hover {
		text-decoration: underline;
	}
}
.form-contacts__btn {
	background-color: #ffffff;
	border-radius: 10px;
	color: #212121;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.form-contacts__button {
	text-align: right;
}